* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'quicksand', sans-serif;
    display: flex;
    background-color: #ADBABD;
}
.navbar {
    margin-left: 8%;
    margin-top: 5%;
    width: 300px;
}

#photo {
    height: 300px;
    width: 300px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
}
.navlinks {
    display: inline-block;
    width: 300px;
}
/* Styling of navbar and color transitions of links */
.navlinks ul li:nth-child(1) {
    background-color: #97E8CA;
    color: rgb(54, 54, 54);
}
.navlinks ul li{
    display:flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    padding: 15px;
    text-align: right;
    background-color: #2A2727;
    border: 1px solid rgb(24, 23, 23);
    color: #656363;
    background-position: 50% 50%;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#97E8CA, #97E8CA);
    transition: background-size 0.3s, color, 0.3s;
    cursor: pointer;
}


.navlinks li:hover {
    color: rgb(54, 54, 54);
    background-size: 100% 100% ;
}
/* Icons and their styling */
#socialmedialinks{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    height: 75px;
    width: 300px;
    margin-top: 0px;
    cursor: default;
    background: rgb(240, 239, 239);
    transition: 0.5s, background-color 0.5s;
    border-radius: 2px;
}

#socialmedialinks a i {
    display: inline-block;
    margin: 0 5px;
    color: rgb(82, 79, 79);
}

/* Social media link animation */
#socialmedialinks a i:hover {
    -webkit-animation: bounce .4s infinite;
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}

/* main content */

.content {
    margin: auto;
    width: 60%;
    background-color: rgb(240, 239, 239);
    text-align: center;
    margin: 5%;
    border-radius: 5px;
}

.contentheader p {
    text-align: left;
    margin: 30px 0px 10px 25px;
    font-size: 1.25rem;
    font-weight: bold;
}

#aboutme {
    text-align: center;
    height: auto;
    margin: 35px 0px 15px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}

.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.info {
    width: 75%;
    padding: 10px 30px 30px 30px;
    margin: auto;
}
/* game */

#startbtn {
    padding: 10px 15px;
    margin: 10px;
    background-color:#b9eeda ;
    color: rgb(54, 54, 54);
    transition: background-color 0.3s;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}

#startbtn:hover {
    background-color: #97E8CA;
}

#game {
    width: 800px;
    height: 400px;
    border: 5px solid black;
    margin: auto;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: bottom;
}

#dino{
    position: relative;
    height: 75px;
    width: 75px;
    top: 300px;
    right: 325px;
    background-size: cover;
    
}

#rock{
    position: relative;
    height: 50px;
    width: 50px;
    top: 300px;
    left: 325px;
    
}

.rock-animation {
    -webkit-animation: rock 1.5s infinite;
}

@-webkit-keyframes rock {
    0% {left: 325px;}
    100% {left: -500px;}
}


.jump-animation {
   -webkit-animation: jump 0.5s;
}

@-webkit-keyframes jump {
    0%{ top: 300px;}
    50%{ top: 75px;}
    75%{ top:75px;}
    100%{ top:300px;}
}

#score {
    margin: 10px 0;
}